@import "../../global.scss";
@import "../../utilities.scss";

.following-container-content {
    width: 100%;
    position: relative;

    &-title {
        color: $white-color;

        span {
            color: $purple-color;
        }
    }

    &-list .following {
        position: relative;
        border-bottom: 0.2rem solid $purple-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;

        &-picture {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
        }

        &-icon {
            font-size: 3.5rem;
        }
    }
}
